.detail_content {
    background-color: #fafafa;
    padding-bottom: 100px;
}

.detail_inner {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

.shop_info {
    flex: 1;
    margin-right: 20px;
}

.shop_reservation,
.shop_edit {
    flex: 1;
    margin-left: 20px;
    background-color: blue;
    border-radius: 5px;
    position: relative;
}

.shop_form {
    display: flex;
    justify-content: space-between;
}

.back_form {
    display: flex;
    align-items: center;
}

.back_form button,
.edit_form button  {
    margin-right: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    height: 30px;
}

.shop_name {
    margin: 0;
    font-size: 24px;
}

.shop_img img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.shop_category ul {
    list-style: none;
    padding: 0;
}

.shop_category li {
    display: inline-block;
    margin-right: 5px;
}

.shop_detail p {
    margin-top: 0;
}

.review_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_info button {
    background-color: transparent;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.reservation_text,
.edit_text {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 20px;
}

.reservation_form {
    height: 100%;
}

.reservation_form_inner,
.shop_form_inner {
    margin: 20px;
    width: 100%;
}

.form_group {
    margin: 10px 0;
    color: white;
}

.reservation_form_inner input {
    display: block;
    height: 30px;
    width: 30%;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
}

.reservation_form_inner select {
    display: block;
    height: 30px;
    width: 90%;
    padding: 0 5px;
    border-radius: 5px;
}

.reservation_confirm {
    margin: 20px auto 20px 0;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 55, 255);
}

.reservation_table td {
    padding: 5px 50px 5px 5px;
    color: white;
}

.reservation_submit,
.restaurant_submit {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1px);
}

.reservation_submit button,
.restaurant_submit button {
    padding: 10px 20px;
    width: 100%;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}

.reservation_submit a {
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: darkblue;
    color: white;
    border-radius: 0 0 4px 4px;
}

.edit_textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.star {
    color: #ffcc00;
    font-size: 20px;
}

.error{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}

.representative_form {
    width: 100%;
    margin: 20px auto 200px;
    max-width: 1230px;
}

.form_inner {
    width: 90%;
    margin: 0 auto;
}

.form_ttl {
    width: 90%;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    background-color: blue;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.form_ttl p {
    color: white;
    padding-left: 20px;
}

.form_group_content {
    background-color: white;
    padding: 20px 30px;
}

.form_input input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 90%;
    height: 30px;
}

.form_error {
    color: red;
}

.form_input img {
    width: 20px;
    height: 20px;
}

.form_button {
    background-color: white;
    padding: 0 40px 30px;
    text-align: right;
}

.form_button button {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

@media (max-width: 768px) {
    .detail_inner {
        flex-direction: column;
    }

    .shop_info,
    .shop_reservation {
        width: 100%;
        margin: 0;
    }

    .shop_edit {
        margin-top: 20px;
    }

    .shop_form,
    .reservation_form {
        width: 90%;
        margin: 0 auto;
    }

    .shop_img {
        margin-top: 20px;
    }

    .shop_detail {
        margin-top: 20px;
    }

    .review_info {
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .review_info button {
        margin-top: 10px;
    }

    .reservation_form_inner {
        margin: 20px 0;
    }

    .form_input input,
    .form_group select {
        width: 100%;
    }

    .reservation_confirm {
        margin-bottom: 50px;
    }

    .reservation_submit button,
    .reservation_submit a {
        width: 100%;
    }

    .edit_textarea {
        margin-bottom: 50px;
    }

    .form_group_content {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .review_info {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }
}