.done_content {
    margin: 0 auto;
    padding: 10%;
    background-color: #fafafa;
}

.done_inner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    width: 500px;
    max-width: 1230px;
    margin: 0 auto 200px;
    padding: 50px;
    text-align: center;
}

.done_text {
    font-size: 24px;
}

.back_button {
    margin: 50px auto;
}

.back_button a {
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
}