.list_content {
    background-color: #fafafa;
}

.list_inner {
    padding: 0 5% 100px;
}

.user_name {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.reservation_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservation_card {
    flex: 0 0 calc(25% - 20px);
    padding: 20px;
    margin: 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.reservation_card_header {
    display: flex;
    justify-content: space-between;
}

.reservation_card_header p {
    margin: 0;
    padding: 10px;
}

.reservation_card_header button {
    font-size: 14px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.reservation_ttl {
    font-weight: bold;
    font-size: 20px;
}

.reservation_table table {
    width: 100%;
}

.reservation_table_row td {
    padding: 10px 0;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination .page-item {
    margin: 0 5px;
    list-style: none;
}

.pagination .page-link {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}